<%= link_to 'Back', @task.project, class: 'btn btn-secondary mb-3' %>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      <span>Editing task</span>
    </h2>
    <%= render 'form' %>
</div>



